# macOS
.DS_Store

# Swift Package Manager
.build/
/Packages/
Package.resolved

# Xcode
xcuserdata/
*.xcuserstate
DerivedData/

# SwiftPM Xcode integration
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata

# Credentials
.netrc
